<div class='container'><br><center>
<%= form_for @comment do |f| -%>
  <%= f.text_area :content, size: "40x7", placeholder: "This is my comment..." %><br />
 <!-- TODO: This is hardcoded, replace with @user.id -->
  // you have current_user on the controller, use it and don't pass user_id in the form
  <%= f.hidden_field(:user_id, value: 1) %><br><br>
  <%= f.submit "submit comment", class: "btn btn-success" %>
<% end -%>
</center>
</div>
